.buttons{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .buttons{
      grid-template-columns: 1fr;
  }
}

.buttons__button {
  cursor: pointer;
  background: none;
  border: none;
  color: #007382;
  transition: 1s;
}

.buttons__button:hover{
  color: hsl(187, 100%, 40%);
}

.buttons__button:active{
  color: hsl(187, 100%, 60%);
}

.buttons__button:disabled{
  color: grey;
  cursor: default;
}

.buttons__button--hidden{
  display: none;
}